<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">ConfLabs</a>
</div>
<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav navbar-right">

        <% if (isAuthenticated) { %>
        <li><div style="padding-top: 15px; padding-bottom: 15px;">Hello, <strong><%= username %></strong></div></li>
        <% } %>
        <% var action = isAuthenticated ? 'logout' : 'login' %>
        <li><a href="#<%= action %>"><%= action %></a></li>
    </ul>
</div>
