<div class="page-header form-inline">
        <div class="form-group">
            <p id="table-title" class="text-info "></p>
        </div>
        <button id="add-button" class="btn btn-primary pull-right">Add</button>
        <!--<div class="form-group pull-right">-->
            <!--<label class="sr-only"  for="select">Speeches</label>-->
            <!--<select class="form-control" id="select"></select>-->
        <!--</div>-->
</div>

<div id="edit-region"></div>
<div id="list-region"></div>

