<div class="page-header">
    <div class='row'>
        <div class="col-md-8 col-xs-6">
            <p id="table-title" class="text-info "></p>
        </div>

        <div class="col-md-4 col-xs-6">
            <div class="row">
                <div class="col-md-9 col-xs-9" data-select-item-region>

                </div>
                <div class="col-md-3 col-xs-3">
                    <button id="add-button" class="btn btn-primary pull-right">Add new</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-region"></div>
<div id="list-region"></div>

