<div class="page-header">
    <div class='row'>
        <div class="col-md-5 col-xs-5">
            <p id="table-title" class="text-info "></p>
        </div>

        <div class="col-md-7 col-xs-7">
            <button id="add-button" class="btn btn-primary pull-right">Add</button>
        </div>
    </div>
    <!--<div class="form-group pull-right">-->
    <!--<label class="sr-only"  for="select">Speeches</label>-->
    <!--<select class="form-control" id="select"></select>-->
    <!--</div>-->
</div>

<div id="edit-region"></div>
<div id="list-region"></div>

