<div class="page-header">
    <a href="#speakers/<%- id%>/edit" class="btn btn-primary pull-right">Edit</a>

    <h1>Speakers: <%- name%></h1>
</div>


<div class="row">
    <div class="col-md-3">
        <img src="/img/avatar.png" alt="..." class="img-responsive center-block">
    </div>

    <div class="col-md-9">
        <address>
            <h3><%- name%></h3>
            <br>
            <h4> <%- position%></h4>
            <a href="mailto:#"><%- email%></a>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br>
        <br>

        <h4><em><%- about%></em></h4>
    </div>
</div>
