
#croppie-div {
    display: none;
}

#croppie {
    padding: 0px;
    margin-bottom: 15px;
}

#avatar-img {
    height: 200px;
    width: 200px;
    margin-bottom: 15px
}

.centered {
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}