<div class="col-md-3">
    <div class="row">
        <button class="btn btn-primary">Save</button>
    </div>
    <div class="row">
        <div data-schedule-speeches></div>
    </div>
</div>

<div class="col-md-9 schedule-container">
    <div class="row">
        <div data-schedule-days></div>
    </div>
    <div class="row">
        <div data-tracks-header class="tracks-header schedule-axis-space"></div>
    </div>
    <div class="row">
        <div class="grid-axis-container">
            <div data-grid-axis></div>
            <div data-schedule class="schedule-axis-space"></div>
        </div>
    </div>
</div>